@mixin floor-block {
  background-color: gray;
  border-top: 2px solid black;
  box-sizing: border-box;
  display: block;
  height: 120px;
  min-height: 64px;
  position: relative;
  width: 120px;
}

.floor {
  align-items: center;
  display: flex;
  gap: 8px;
}

.floor__number {
  @include floor-block;

  align-items: center;
  color: white;
  display: flex;
  font-size: 64px;
  font-weight: bold;
  justify-content: center;
  pointer-events: none;
}

.floor__control-panel {
  width: 75px;
}
