@mixin floor-block {
  background-color: gray;
  border-top: 2px solid black;
  box-sizing: border-box;
  display: block;
  height: 120px;
  min-height: 64px;
  position: relative;
  width: 120px;
}

.floor {
  @include floor-block;
}

.floor__number {
  color: white;
  font-size: 64px;
  font-weight: bold;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
